Raspberry Pi/code/flows.json
[{"id":"e4aae10149ee9809","type":"tab","label":"Dashboard Pages","disabled":false,"info":"","env":[]},{"id":"eca44a4cdf11aff8","type":"tab","label":"Home","disabled":false,"info":"","env":[]},{"id":"86f8d998ac53aa94","type":"tab","label":"Picture Detail Page","disabled":false,"info":"","env":[]},{"id":"d726114c1c7c14ca","type":"tab","label":"guandi","disabled":false,"info":"","env":[]},{"id":"4e958e247f5e7aa2","type":"tab","label":"流程 3","disabled":false,"info":"","env":[]},{"id":"b4ee9ef2a6da274e","type":"ui_tab","name":"Weather Station Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"b73cac619df86fdb","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"31336b5c35580682","type":"ui_group","name":"Wind Speed","tab":"b4ee9ef2a6da274e","order":1,"disp":true,"width":"6","collapse":true,"className":""},{"id":"3eb058b096b69dab","type":"ui_group","name":"Lux","tab":"b4ee9ef2a6da274e","order":2,"disp":true,"width":"6","collapse":true,"className":""},{"id":"15769ef303e088cd","type":"ui_group","name":"Temperature","tab":"b4ee9ef2a6da274e","order":3,"disp":true,"width":"6","collapse":true,"className":""},{"id":"97f2d8d146f1833a","type":"ui_group","name":"Humidity","tab":"b4ee9ef2a6da274e","order":4,"disp":true,"width":"6","collapse":true,"className":""},{"id":"01a03cc8ba7a76e9","type":"ui_group","name":"Rain","tab":"b4ee9ef2a6da274e","order":5,"disp":true,"width":"6","collapse":true,"className":""},{"id":"8eedae937a42c571","type":"ui_tab","name":"Room Detector Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"506abdfd7c088847","type":"ui_group","name":"Detector No.1","tab":"8eedae937a42c571","order":1,"disp":true,"width":"6","collapse":true,"className":""},{"id":"2d5a318fca9057a8","type":"ui_group","name":"Detector No.3","tab":"8eedae937a42c571","order":2,"disp":true,"width":"6","collapse":true,"className":""},{"id":"dfc2d8f794ab8514","type":"ui_group","name":"Detector No.4","tab":"8eedae937a42c571","order":3,"disp":true,"width":"6","collapse":true,"className":""},{"id":"e930203ca96abecc","type":"ui_group","name":"Detector No.2","tab":"8eedae937a42c571","order":4,"disp":true,"width":"6","collapse":true,"className":""},{"id":"af7ce20ece8f7cfc","type":"ui_group","name":"Detector No.5","tab":"8eedae937a42c571","order":5,"disp":true,"width":"6","collapse":true,"className":""},{"id":"7bd47547216f804a","type":"ui_tab","name":"Home","icon":"home","disabled":false,"hidden":true},{"id":"a206ce40ab92b135","type":"ui_group","name":"Introduction","tab":"7bd47547216f804a","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"f07f41260fd6c870","type":"ui_tab","name":"Air Quality Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"a0067888865043fe","type":"ui_group","name":"Default","tab":"f07f41260fd6c870","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"478589315e4ce2c8","type":"ui_tab","name":"Image Details Page","icon":"collections","disabled":false,"hidden":false},{"id":"588efc18fe7bd085","type":"ui_group","name":"Image Details","tab":"478589315e4ce2c8","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"c49f6b3e2a24d0db","type":"ui_tab","name":"Dashboard","icon":"dashboard","disabled":false,"hidden":true},{"id":"57a157a465fa79ac","type":"ui_group","name":"Dashboard","tab":"c49f6b3e2a24d0db","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"630330d38d85d62e","type":"ui_tab","name":"Feedback Page","icon":"feedback","disabled":false,"hidden":false},{"id":"14ab2db658335abc","type":"ui_group","name":"Feedback Page","tab":"630330d38d85d62e","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"3981d6281f3fcb79","type":"file in","z":"e4aae10149ee9809","name":"","filename":"/home/Chen/flaskApp/python/mqtt_data.csv","filenameType":"str","format":"lines","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":410,"y":40,"wires":[["3091023bc55b7eff"]]},{"id":"3091023bc55b7eff","type":"csv","z":"e4aae10149ee9809","name":"","spec":"rfc","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\r\\n","temp":"Timestamp,Topic,Message ","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":410,"y":140,"wires":[["4188f38d5253a8cf"]]},{"id":"4188f38d5253a8cf","type":"switch","z":"e4aae10149ee9809","name":"","property":"payload.Topic","propertyType":"msg","rules":[{"t":"eq","v":"student/CASA0022/zczqrua/weather/windSpeed","vt":"str"},{"t":"eq","v":"student/CASA0022/zczqrua/weather/lux","vt":"str"},{"t":"eq","v":"student/CASA0022/zczqrua/weather/temp","vt":"str"},{"t":"eq","v":"student/CASA0022/zczqrua/weather/hum","vt":"str"},{"t":"eq","v":"student/CASA0022/zczqrua/weather/rain","vt":"str"},{"t":"eq","v":"student/CASA0022/zczqrua/detector/no1","vt":"str"},{"t":"eq","v":"student/CASA0022/zczqrua/detector/no2","vt":"str"},{"t":"eq","v":"student/CASA0022/zczqrua/detector/no3","vt":"str"},{"t":"eq","v":"student/CASA0022/zczqrua/detector/no4","vt":"str"},{"t":"eq","v":"student/CASA0022/zczqrua/detector/no5","vt":"str"},{"t":"eq","v":"student/CASA0022/zczqrua/airquality/value","vt":"str"}],"checkall":"true","repair":false,"outputs":11,"x":230,"y":380,"wires":[["ddba2bbb31865917"],["06b8c5abe6a3091e"],["6ea7eb4803b7cfe8"],["60e739c4b027e26d"],["9448743229092de0"],["6621c0ae435b5a29"],["6d22c9ee29e03860"],["c65bbde467d8ba12"],["4cd15e553114635e"],["81377fc70b8417ca"],["a61bbd80dfa3b0dd"]],"outputLabels":["wind","lux","temp","hum","rain","no1","no2","no3","no4","no5",null]},{"id":"1b382b04f5e6dc12","type":"ui_chart","z":"e4aae10149ee9809","name":"","group":"31336b5c35580682","order":0,"width":"6","height":"6","label":"Wind Speed","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"Loading...","dot":false,"ymin":"0","ymax":"6","removeOlder":"2","removeOlderPoints":"3000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":610,"y":240,"wires":[[]]},{"id":"8a62c09c3ad14dfa","type":"inject","z":"e4aae10149ee9809","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":140,"wires":[["3981d6281f3fcb79"]]},{"id":"ddba2bbb31865917","type":"function","z":"e4aae10149ee9809","name":"function 1","func":"// 获取时间戳并转换为 epoch 时间格式（毫秒）\nlet timestamp = new Date(msg.payload.Timestamp).getTime();\n\n// 生成符合 chart 节点要求的数据格式\nmsg= {\n    topic: \"wind\",   // 替换为适当的 series 名称，如 \"temperature\"\n    payload: msg.payload.Message,      // 数据值\n    timestamp: timestamp         // 时间戳，以毫秒为单位的 epoch 时间\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":240,"wires":[["1b382b04f5e6dc12"]]},{"id":"b899231263e1f0df","type":"ui_chart","z":"e4aae10149ee9809","name":"","group":"3eb058b096b69dab","order":0,"width":"6","height":"6","label":"Lux","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"Loading...","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"2000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":590,"y":280,"wires":[[]]},{"id":"06b8c5abe6a3091e","type":"function","z":"e4aae10149ee9809","name":"function 2","func":"// 获取时间戳并转换为 epoch 时间格式（毫秒）\nlet timestamp = new Date(msg.payload.Timestamp).getTime();\n\n// 生成符合 chart 节点要求的数据格式\nmsg= {\n    topic: \"lux\",   // 替换为适当的 series 名称，如 \"temperature\"\n    payload: msg.payload.Message,      // 数据值\n    timestamp: timestamp         // 时间戳，以毫秒为单位的 epoch 时间\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":280,"wires":[["b899231263e1f0df"]]},{"id":"23f94879ce4d75ba","type":"ui_chart","z":"e4aae10149ee9809","name":"","group":"15769ef303e088cd","order":0,"width":"6","height":"6","label":"Temperature","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"Loading...","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"3000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":610,"y":320,"wires":[[]]},{"id":"6ea7eb4803b7cfe8","type":"function","z":"e4aae10149ee9809","name":"function 3","func":"// 获取时间戳并转换为 epoch 时间格式（毫秒）\nlet timestamp = new Date(msg.payload.Timestamp).getTime();\n\n// 生成符合 chart 节点要求的数据格式\nmsg= {\n    topic: \"temp\",   // 替换为适当的 series 名称，如 \"temperature\"\n    payload: msg.payload.Message,      // 数据值\n    timestamp: timestamp         // 时间戳，以毫秒为单位的 epoch 时间\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":320,"wires":[["23f94879ce4d75ba"]]},{"id":"1f87e5d7ee6186a5","type":"ui_chart","z":"e4aae10149ee9809","name":"","group":"97f2d8d146f1833a","order":0,"width":"6","height":"6","label":"Humidity","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"Loading...","dot":false,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"2000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":600,"y":360,"wires":[[]]},{"id":"60e739c4b027e26d","type":"function","z":"e4aae10149ee9809","name":"function 4","func":"// 获取时间戳并转换为 epoch 时间格式（毫秒）\nlet timestamp = new Date(msg.payload.Timestamp).getTime();\n\n// 生成符合 chart 节点要求的数据格式\nmsg= {\n    topic: \"hum\",   // 替换为适当的 series 名称，如 \"temperature\"\n    payload: msg.payload.Message,      // 数据值\n    timestamp: timestamp         // 时间戳，以毫秒为单位的 epoch 时间\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":360,"wires":[["1f87e5d7ee6186a5"]]},{"id":"17bcf98cf9570445","type":"ui_chart","z":"e4aae10149ee9809","name":"","group":"01a03cc8ba7a76e9","order":0,"width":"6","height":"6","label":"Rain","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"Loading...","dot":false,"ymin":"0","ymax":"4096","removeOlder":"2","removeOlderPoints":"2000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":590,"y":400,"wires":[[]]},{"id":"9448743229092de0","type":"function","z":"e4aae10149ee9809","name":"function 5","func":"// 获取时间戳并转换为 epoch 时间格式（毫秒）\nlet timestamp = new Date(msg.payload.Timestamp).getTime();\nlet rainvalue = 4095 - msg.payload.Message;\n// 生成符合 chart 节点要求的数据格式\nmsg= {\n    topic: \"wind\",   // 替换为适当的 series 名称，如 \"temperature\"\n    payload: rainvalue,      // 数据值\n    timestamp: timestamp         // 时间戳，以毫秒为单位的 epoch 时间\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":400,"wires":[["17bcf98cf9570445"]]},{"id":"96378f19af92caa8","type":"ui_chart","z":"e4aae10149ee9809","name":"","group":"506abdfd7c088847","order":0,"width":"6","height":"6","label":"Detector No.1","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"Not Available","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"3000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":620,"y":440,"wires":[[]]},{"id":"6621c0ae435b5a29","type":"function","z":"e4aae10149ee9809","name":"function 6","func":"// 获取时间戳并转换为 epoch 时间格式（毫秒）\nlet timestamp = new Date(msg.payload.Timestamp).getTime();\n\n// 生成符合 chart 节点要求的数据格式\nmsg= {\n    topic: \"no1\",   // 替换为适当的 series 名称，如 \"temperature\"\n    payload: msg.payload.Message,      // 数据值\n    timestamp: timestamp         // 时间戳，以毫秒为单位的 epoch 时间\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":440,"wires":[["96378f19af92caa8"]]},{"id":"153801320ff80ba4","type":"ui_chart","z":"e4aae10149ee9809","name":"","group":"e930203ca96abecc","order":0,"width":"6","height":"6","label":"Detector No.2","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"Not Available","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"3000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":620,"y":480,"wires":[[]]},{"id":"6d22c9ee29e03860","type":"function","z":"e4aae10149ee9809","name":"function 7","func":"// 获取时间戳并转换为 epoch 时间格式（毫秒）\nlet timestamp = new Date(msg.payload.Timestamp).getTime();\n\n// 生成符合 chart 节点要求的数据格式\nmsg= {\n    topic: \"no2\",   // 替换为适当的 series 名称，如 \"temperature\"\n    payload: msg.payload.Message,      // 数据值\n    timestamp: timestamp         // 时间戳，以毫秒为单位的 epoch 时间\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":480,"wires":[["153801320ff80ba4"]]},{"id":"55048d25ab0b492e","type":"ui_chart","z":"e4aae10149ee9809","name":"","group":"2d5a318fca9057a8","order":0,"width":"6","height":"6","label":"Detector No.3","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"Not Available","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"3000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":620,"y":520,"wires":[[]]},{"id":"c65bbde467d8ba12","type":"function","z":"e4aae10149ee9809","name":"function 8","func":"// 获取时间戳并转换为 epoch 时间格式（毫秒）\nlet timestamp = new Date(msg.payload.Timestamp).getTime();\n\n// 生成符合 chart 节点要求的数据格式\nmsg= {\n    topic: \"no3\",   // 替换为适当的 series 名称，如 \"temperature\"\n    payload: msg.payload.Message,      // 数据值\n    timestamp: timestamp         // 时间戳，以毫秒为单位的 epoch 时间\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":520,"wires":[["55048d25ab0b492e"]]},{"id":"dce447bb7f2e6f5a","type":"ui_chart","z":"e4aae10149ee9809","name":"","group":"dfc2d8f794ab8514","order":0,"width":"6","height":"6","label":"Detector No.4","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"Not Available","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"3000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":620,"y":560,"wires":[[]]},{"id":"4cd15e553114635e","type":"function","z":"e4aae10149ee9809","name":"function 9","func":"// 获取时间戳并转换为 epoch 时间格式（毫秒）\nlet timestamp = new Date(msg.payload.Timestamp).getTime();\n\n// 生成符合 chart 节点要求的数据格式\nmsg= {\n    topic: \"no4\",   // 替换为适当的 series 名称，如 \"temperature\"\n    payload: msg.payload.Message,      // 数据值\n    timestamp: timestamp         // 时间戳，以毫秒为单位的 epoch 时间\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":560,"wires":[["dce447bb7f2e6f5a"]]},{"id":"394b2343e7cf9422","type":"ui_chart","z":"e4aae10149ee9809","name":"","group":"af7ce20ece8f7cfc","order":0,"width":"6","height":"6","label":"Detector No.5","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"Not Available","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"3000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":640,"y":600,"wires":[[]]},{"id":"81377fc70b8417ca","type":"function","z":"e4aae10149ee9809","name":"function 10","func":"// 获取时间戳并转换为 epoch 时间格式（毫秒）\nlet timestamp = new Date(msg.payload.Timestamp).getTime();\n\n// 生成符合 chart 节点要求的数据格式\nmsg= {\n    topic: \"no5\",   // 替换为适当的 series 名称，如 \"temperature\"\n    payload: msg.payload.Message,      // 数据值\n    timestamp: timestamp         // 时间戳，以毫秒为单位的 epoch 时间\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":600,"wires":[["394b2343e7cf9422"]]},{"id":"6b8f9a2f9f5fe35f","type":"ui_chart","z":"e4aae10149ee9809","name":"","group":"a0067888865043fe","order":0,"width":"6","height":"6","label":"Air Quality","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"Not Available","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"3000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":630,"y":640,"wires":[[]]},{"id":"a61bbd80dfa3b0dd","type":"function","z":"e4aae10149ee9809","name":"function 11","func":"// 获取时间戳并转换为 epoch 时间格式（毫秒）\nlet timestamp = new Date(msg.payload.Timestamp).getTime();\n\n// 生成符合 chart 节点要求的数据格式\nmsg= {\n    topic: \"air quality\",   // 替换为适当的 series 名称，如 \"temperature\"\n    payload: msg.payload.Message,      // 数据值\n    timestamp: timestamp         // 时间戳，以毫秒为单位的 epoch 时间\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":640,"wires":[["6b8f9a2f9f5fe35f"]]},{"id":"c0993f729d5317b1","type":"inject","z":"eca44a4cdf11aff8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"180","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":160,"wires":[[]]},{"id":"2bfa484e8af97b16","type":"ui_template","z":"eca44a4cdf11aff8","group":"a206ce40ab92b135","name":"","order":0,"width":0,"height":0,"format":"<div style=\"text-align: center;\">\n    <h1>Welcome to AI Art</h1>\n    <div class=\"fixed-column-container\"\n        style=\"display: flex; flex-direction: column; align-items: center; max-width: 100%; margin: 0 auto;\">\n        <!-- Weather Station -->\n        <div class=\"fixed-column-item\"\n            style=\"border: 1px solid #ccc; padding: 20px; width: 500px; height: 350px; margin-bottom: 20px;\">\n            <img src=\"/src/img_weather_station.jpg\" alt=\"Weather Station\" style=\"width: 100%; height: 200px; object-fit: contain;\">\n            <h2>Weather Station</h2>\n            <p>Monitor real-time weather data.</p>\n            <a href=\"/ui/#!/0\"\n                style=\"text-decoration: none; color: white; background-color: #007bff; padding: 10px; display: inline-block; margin-top: 10px;\">Go\n                to Dashboard</a>\n        </div>\n\n        <!-- Detector -->\n        <div class=\"fixed-column-item\"\n            style=\"border: 1px solid #ccc; padding: 20px; width: 500px; height: 350px; margin-bottom: 20px;\">\n            <img src=\"/src/img_detector.jpg\" alt=\"Detector\" style=\"width: 100%; height: 200px; object-fit: contain;\">\n            <h2>Detector</h2>\n            <p>Real-time detection data.</p>\n            <a href=\"/ui/#!/1\"\n                style=\"text-decoration: none; color: white; background-color: #007bff; padding: 10px; display: inline-block; margin-top: 10px;\">Go\n                to Detector</a>\n        </div>\n\n        <!-- Air Quality Box -->\n        <div class=\"fixed-column-item\"\n            style=\"border: 1px solid #ccc; padding: 20px; width: 500px; height: 350px; margin-bottom: 20px;\">\n            <img src=\"/src/img_air_quality_box.webp\" alt=\"Air Quality Box\" style=\"width: 100%; height: 200px; object-fit: contain;\">\n            <h2>Air Quality Box</h2>\n            <p>Monitor air quality in your area.</p>\n            <a href=\"/ui/#!/2\"\n                style=\"text-decoration: none; color: white; background-color: #007bff; padding: 10px; display: inline-block; margin-top: 10px;\">Go\n                to Dashboard</a>\n        </div>\n\n        <!-- Download Images -->\n        <div class=\"fixed-column-item\"\n            style=\"border: 1px solid #ccc; padding: 20px; width: 500px; height: 350px; margin-bottom: 20px;\">\n            <img src=\"/src/img_details.jpg\" alt=\"Download Images\" style=\"width: 100%; height: 200px; object-fit: contain;\">\n            <h2>Download Images</h2>\n            <a href=\"/ui/#!/4\"\n                style=\"text-decoration: none; color: white; background-color: #007bff; padding: 10px; display: inline-block; margin-top: 10px;\">Go\n                to Download</a>\n        </div>\n\n        <!-- Feedback -->\n        <div class=\"fixed-column-item\"\n            style=\"border: 1px solid #ccc; padding: 20px; width: 500px; height: 350px; margin-bottom: 20px;\">\n            <img src=\"/src/img_reflection.jpg\" alt=\"Feedback\" style=\"width: 100%; height: 200px; object-fit: contain;\">\n            <h2>Feedback</h2>\n            <a href=\"/ui/#!/6\"\n                style=\"text-decoration: none; color: white; background-color: #007bff; padding: 10px; display: inline-block; margin-top: 10px;\">Go\n                to Feedback</a>\n        </div>\n    </div>\n</div>\n\n<style>\n    /* 固定单列布局 */\n    .fixed-column-container {\n        display: flex;\n        flex-direction: column;\n        align-items: center;\n        max-width: 100%;\n        margin: 0 auto;\n    }\n\n    .fixed-column-item {\n        width: 500px;\n        /* 固定宽度 */\n        max-width: 90%;\n        /* 当屏幕宽度小于500px时，自动调整 */\n        margin-bottom: 20px;\n        /* 卡片之间的间距 */\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":360,"y":160,"wires":[[]]},{"id":"d0bdd1591a073cb5","type":"inject","z":"86f8d998ac53aa94","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1800","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":160,"wires":[["d5053a1cf91af0a3"]]},{"id":"d5053a1cf91af0a3","type":"file in","z":"86f8d998ac53aa94","name":"","filename":"/home/Chen/flaskApp/python/image_log.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":470,"y":160,"wires":[["0aacc4735acf1a5f"]]},{"id":"0aacc4735acf1a5f","type":"csv","z":"86f8d998ac53aa94","name":"","spec":"rfc","sep":",","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\r\\n","temp":"file_name,prompt,text_description,ai_source,mode,rating_count,total_rating,play","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":210,"y":260,"wires":[["de8427a13fdfdeb7"]]},{"id":"de8427a13fdfdeb7","type":"function","z":"86f8d998ac53aa94","name":"function 12","func":"let logs = msg.payload;\n\n// 确保 msg.payload 是数组，并且不为空\nif (!Array.isArray(logs) || logs.length === 0) {\n    node.warn('No logs available in payload');\n    return [null, null, null, null, null, null, null, null, null];\n}\n\n// 获取当前时间的日期、月份和年份\nconst currentTime = new Date();\nconst currentDay = currentTime.getDate();\nconst currentMonth = currentTime.getMonth(); // 月份从0开始\nconst currentYear = currentTime.getFullYear();\n\n// 筛选逻辑：保留当天和前一天的日志\nconst filteredLogs = logs.filter(log => {\n    const fileName = log.file_name.split('_')[2]; // 假设文件名包含时间戳信息\n    const fileDatePart = fileName.slice(0, 8); // 提取日期部分\n    \n    // 提取文件日期\n    const fileYear = parseInt(fileDatePart.slice(0, 4));\n    const fileMonth = parseInt(fileDatePart.slice(4, 6)) - 1; // 月份从0开始\n    const fileDay = parseInt(fileDatePart.slice(6, 8));\n\n    // 比较年、月、日\n    const isSameDay = (fileYear === currentYear) && (fileMonth === currentMonth) && (fileDay === currentDay);\n    const isPreviousDay = (fileYear === currentYear) && (fileMonth === currentMonth) && (currentDay - fileDay === 1);\n\n    // 返回在同一天的日志或前一天的日志\n    return isSameDay || isPreviousDay;\n});\n\n// 生成路径数组\nconst imagePaths = filteredLogs.map(log => log.file_name.replace('./', '/'));\n\n// 创建输出数组，最多9个输出端口\nlet outputs = [null, null, null, null, null, null, null, null, null];\n\nimagePaths.slice(0, 9).forEach((path, index) => {\n    outputs[index] = { payload: path }; // 将每个路径发送到不同的输出端口\n});\n\nreturn outputs; // 返回输出数组，消息将被发送到不同的端口\n","outputs":9,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":260,"wires":[["ae777df4e4a4c4f9"],["bc8186a003168082"],["292603d9cb5cc753"],["f215aca69f9ceb2d"],["8e72bba3ff034f53"],["6fec70ff75dc0eb3"],["73879502d5c3591e"],["e968475eae18b0e3"],["1bed1ae9a311325c"]]},{"id":"ae777df4e4a4c4f9","type":"ui_template","z":"86f8d998ac53aa94","group":"588efc18fe7bd085","name":"UI Template","order":0,"width":"6","height":"7","format":"<div style=\"text-align: center;\">\n    <h1>Recent Images</h1>\n    <img ng-src=\"{{msg.payload}}\" alt=\"Image\" style=\"width: 100%; max-width: 500px; height: auto; margin-bottom: 20px;\">\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":590,"y":220,"wires":[[]]},{"id":"bc8186a003168082","type":"ui_template","z":"86f8d998ac53aa94","group":"588efc18fe7bd085","name":"UI Template","order":0,"width":"6","height":"6","format":"<div ng-if=\"msg.payload && msg.payload !== ''\" style=\"text-align: center;\">\n    <div id=\"imageGallery\">\n        <img ng-src=\"{{msg.payload}}\" alt=\"Image\" style=\"width: 100%; max-width: 500px; height: auto; margin-bottom: 20px;\">\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":590,"y":260,"wires":[[]]},{"id":"292603d9cb5cc753","type":"ui_template","z":"86f8d998ac53aa94","group":"588efc18fe7bd085","name":"UI Template","order":0,"width":"6","height":"6","format":"<div ng-if=\"msg.payload && msg.payload !== ''\" style=\"text-align: center;\">\n    <div id=\"imageGallery\">\n        <img ng-src=\"{{msg.payload}}\" alt=\"Image\" style=\"width: 100%; max-width: 500px; height: auto; margin-bottom: 20px;\">\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":590,"y":300,"wires":[[]]},{"id":"f215aca69f9ceb2d","type":"ui_template","z":"86f8d998ac53aa94","group":"588efc18fe7bd085","name":"UI Template","order":0,"width":"6","height":"6","format":"<div ng-if=\"msg.payload && msg.payload !== ''\" style=\"text-align: center;\">\n    <div id=\"imageGallery\">\n        <img ng-src=\"{{msg.payload}}\" alt=\"Image\" style=\"width: 100%; max-width: 500px; height: auto; margin-bottom: 20px;\">\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":590,"y":340,"wires":[[]]},{"id":"8e72bba3ff034f53","type":"ui_template","z":"86f8d998ac53aa94","group":"588efc18fe7bd085","name":"UI Template","order":0,"width":"6","height":"6","format":"<div ng-if=\"msg.payload && msg.payload !== ''\" style=\"text-align: center;\">\n    <div id=\"imageGallery\">\n        <img ng-src=\"{{msg.payload}}\" alt=\"Image\" style=\"width: 100%; max-width: 500px; height: auto; margin-bottom: 20px;\">\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":590,"y":380,"wires":[[]]},{"id":"6fec70ff75dc0eb3","type":"ui_template","z":"86f8d998ac53aa94","group":"588efc18fe7bd085","name":"UI Template","order":0,"width":"6","height":"6","format":"<div ng-if=\"msg.payload && msg.payload !== ''\" style=\"text-align: center;\">\n    <div id=\"imageGallery\">\n        <img ng-src=\"{{msg.payload}}\" alt=\"Image\" style=\"width: 100%; max-width: 500px; height: auto; margin-bottom: 20px;\">\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":590,"y":420,"wires":[[]]},{"id":"73879502d5c3591e","type":"ui_template","z":"86f8d998ac53aa94","group":"588efc18fe7bd085","name":"UI Template","order":0,"width":"6","height":"6","format":"<div ng-if=\"msg.payload && msg.payload !== ''\" style=\"text-align: center;\">\n    <div id=\"imageGallery\">\n        <img ng-src=\"{{msg.payload}}\" alt=\"Image\" style=\"width: 100%; max-width: 500px; height: auto; margin-bottom: 20px;\">\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":590,"y":460,"wires":[[]]},{"id":"e968475eae18b0e3","type":"ui_template","z":"86f8d998ac53aa94","group":"588efc18fe7bd085","name":"UI Template","order":0,"width":"6","height":"6","format":"<div ng-if=\"msg.payload && msg.payload !== ''\" style=\"text-align: center;\">\n    <div id=\"imageGallery\">\n        <img ng-src=\"{{msg.payload}}\" alt=\"Image\" style=\"width: 100%; max-width: 500px; height: auto; margin-bottom: 20px;\">\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":590,"y":500,"wires":[[]]},{"id":"1bed1ae9a311325c","type":"ui_template","z":"86f8d998ac53aa94","group":"588efc18fe7bd085","name":"UI Template","order":0,"width":"6","height":"6","format":"<div ng-if=\"msg.payload && msg.payload !== ''\" style=\"text-align: center;\">\n    <div id=\"imageGallery\">\n        <img ng-src=\"{{msg.payload}}\" alt=\"Image\" style=\"width: 100%; max-width: 500px; height: auto; margin-bottom: 20px;\">\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":590,"y":540,"wires":[[]]},{"id":"12ee93242fe2a493","type":"file in","z":"d726114c1c7c14ca","name":"","filename":"/home/Chen/flaskApp/python/mqtt_data.csv","filenameType":"str","format":"lines","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":390,"y":180,"wires":[["ef94c9daf24168c8"]]},{"id":"ef94c9daf24168c8","type":"csv","z":"d726114c1c7c14ca","name":"","spec":"rfc","sep":",","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\r\\n","temp":"Timestamp,Topic,Message ","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":510,"y":280,"wires":[["f566e2085ae72c26"]]},{"id":"fd88913053578de7","type":"inject","z":"d726114c1c7c14ca","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":280,"wires":[["12ee93242fe2a493"]]},{"id":"f566e2085ae72c26","type":"function","z":"d726114c1c7c14ca","name":"function 13","func":"let csvData = msg.payload;\n\n// 确保 msg.payload 是数组，并且不为空\nif (!Array.isArray(csvData) || csvData.length === 0) {\n    node.warn('No CSV data available in payload');\n    return null;\n}\n\n// 需要处理的 topic 列表\nlet topicsOfInterest = [\n    \"student/CASA0022/zczqrua/weather/windSpeed\",\n    \"student/CASA0022/zczqrua/weather/temp\",\n    \"student/CASA0022/zczqrua/weather/hum\"\n];\n\n// 用于存储每个 topic 的最新数据\nlet latestDataByTopic = {};\n\n// 遍历 CSV 数据，覆盖之前的值，确保保存的是最新的数据\ncsvData.forEach(data => {\n    let topic = data.Topic; // 假设 CSV 解析后的对象包含 \"Topic\" 字段\n\n    // 检查该 topic 是否在我们感兴趣的 topic 列表中\n    if (topicsOfInterest.includes(topic)) {\n        latestDataByTopic[topic] = {\n            type: topic.split('/').pop(), // 获取 topic 的最后一部分作为类型\n            value: data.Message, // 假设数据值在 \"Message\" 字段中\n            time: data.Timestamp // 原始的时间戳字符串\n        };\n    }\n});\n\n// 将最新数据转为数组，以便在表格中显示\nlet tableData = Object.values(latestDataByTopic);\n\nmsg.payload = tableData;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":280,"wires":[["e53f4e34e0ca8692"]]},{"id":"e53f4e34e0ca8692","type":"ui_template","z":"d726114c1c7c14ca","group":"57a157a465fa79ac","name":"","order":0,"width":"6","height":"5","format":"<div style=\"text-align: center;\">\n    <h1>ENVIRONMENTAL MYTHS</h1>\n    \n    <table border=\"1\" style=\"width: 100%; text-align: center; border-collapse: collapse; margin-top: 20px;\">\n        <thead>\n            <tr>\n                <th>Data Type</th>\n                <th>Value</th>\n                <th>Timestamp</th>\n            </tr>\n        </thead>\n        <tbody>\n            <tr ng-repeat=\"data in msg.payload\">\n                <td>{{data.type}}</td>\n                <td>{{data.value}}</td>\n                <td>{{data.time}}</td>\n            </tr>\n        </tbody>\n    </table>\n    \n    <p style=\"color: gray; font-size: 12px; margin-top: 20px;\">\n        *There may be a time delay between the display device and the real-time data, the details are subject to the physical condition.\n    </p>\n</div>\n\n<script>\n $('#toolbar').css(\"display\", \"none\");\n</script>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":800,"y":280,"wires":[[]]},{"id":"a17972ebee88d472","type":"inject","z":"4e958e247f5e7aa2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":160,"wires":[["1a25fb3d6fce1d3a"]]},{"id":"1a25fb3d6fce1d3a","type":"ui_template","z":"4e958e247f5e7aa2","group":"14ab2db658335abc","name":"","order":0,"width":0,"height":0,"format":"<div style=\"text-align: center;\">\n    <h2>Feedback Form</h2>\n    \n    <form id=\"feedbackForm\" style=\"max-width: 400px; margin: 0 auto;\">\n        <!-- 昵称输入框 -->\n        <div style=\"margin-bottom: 15px;\">\n            <label for=\"nickname\">Nickname:</label>\n            <input type=\"text\" id=\"nickname\" ng-model=\"feedback.nickname\" style=\"width: 90%;\" required>\n        </div>\n        \n        <!-- 邮箱输入框（可选） -->\n        <div style=\"margin-bottom: 15px;\">\n            <label for=\"email\">Email (Optional):</label>\n            <input type=\"email\" id=\"email\" ng-model=\"feedback.email\" style=\"width: 90%;\">\n        </div>\n        \n        <!-- 反馈内容输入框 -->\n        <div style=\"margin-bottom: 15px;\">\n            <label for=\"content\">Feedback:</label>\n            <textarea id=\"content\" ng-model=\"feedback.content\" rows=\"5\" style=\"width: 90%;\" required></textarea>\n        </div>\n        \n        <!-- 提交按钮 -->\n        <button type=\"submit\" ng-click=\"submitFeedback()\" style=\"background-color: #007bff; color: white; padding: 10px 20px; border: none; cursor: pointer;\">\n            Submit\n        </button>\n    </form>\n\n    <!-- 提交后的确认消息 -->\n    <p ng-if=\"feedbackSubmitted\" style=\"color: green; margin-top: 20px;\">\n        Thank you for your feedback!\n    </p>\n</div>\n\n<script>\n(function(scope) {\n    scope.feedback = {};\n    scope.feedbackSubmitted = false;\n\n    scope.submitFeedback = function() {\n        if (!scope.feedback.nickname || !scope.feedback.content) {\n            alert('Please fill in the required fields.');\n            return;\n        }\n\n        // 发送反馈数据到 Node-RED\n        scope.send({ payload: scope.feedback });\n\n        // 清空表单\n        scope.feedback = {};\n        scope.feedbackSubmitted = true;\n\n        // 重置表单显示的确认消息\n        setTimeout(() => { scope.feedbackSubmitted = false; scope.$apply(); }, 3000);\n    };\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":400,"y":160,"wires":[["fc94f69f5c02daca"]]},{"id":"fc94f69f5c02daca","type":"function","z":"4e958e247f5e7aa2","name":"function 14","func":"let feedback = msg.payload;\n\nif (!feedback.nickname || !feedback.content) {\n    node.error('Missing required feedback fields');\n    return null;\n}\n\n// 准备 CSV 行数据\nlet csvLine = `\"${feedback.nickname}\",\"${feedback.email || ''}\",\"${feedback.content.replace(/\"/g, '\"\"')}\",\"${new Date().toLocaleString()}\"\\n`;\n\nmsg.payload = csvLine;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":160,"wires":[["3698dd7b8fa611d4"]]},{"id":"3698dd7b8fa611d4","type":"file","z":"4e958e247f5e7aa2","name":"","filename":"/home/Chen/flaskApp/python/feedback.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":890,"y":160,"wires":[[]]}]